###############################################################################
# The structure of the document is:                                           #
# Apps                                                                        #
#   - folders                                                                 #
#   - files divided by squad                                                  #
# To add a new entry look for the app you are modifying, if you are adding a  #
# folder add it on top else add it to your squad section                      #
###############################################################################


# ---- No Owner ----
* @travelperk/@travelperk/squad-flights-brilliant-basics  # change this to the squad that should be the owner
# ---- Outside apps ----

# Squad security
.github/SECURITY.md @travelperk/squad-prodsec
.gitleaks.toml @travelperk/squad-prodsec
.semgrepignore @travelperk/squad-prodsec
.trivyignore.yaml @travelperk/squad-prodsec
zizmor.yaml @travelperk/squad-prodsec
