.jets-plane-body {
  margin: 0 auto;
}
.jets-deck-wrapper {
  position: relative;
  transform-style: preserve-3d;
  z-index: 1;
}

.deck-floor {
  position: relative;
  transform-style: preserve-3d;
}
